body {
    overflow-x: hidden;
}

#navbarl {
    position: fixed;
    top: -110px;
    display: block;
    transition: top 0.3s;
}

#logol {
    position: fixed;
    top: -110px;
    display: block;
    transition: top 0.3s;
    margin-left: 33px;
}

#bookl {
    position: fixed;
    top: 20px;
    right: 0;
    display: block;
    transition: right 0.3s;
    margin-right: -130px;
}

#clearHeader {
    height: auto;
    background-color: #171126ef;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -moz-transition: ease all 1s;
    -o-transition: ease all 1s;
    border-bottom: 3px solid #ffc107;
}

#clearHeader img {
    width: 150px;
    height: auto;
    margin-top: -30px;
    margin-left: 30px;
    margin-bottom: -50px;
}

.enjoy {
    font-family: Monotype Corsiva;
    font-weight: bolder;
    font-size: 10vw;
    margin-left: auto;
    color: rgb(255, 255, 255);
}

.h4 {
    font-family: Times New Roman;
    font-weight: 560;
    color: white;
    font-size: 4vmin;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171126;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    font-family: Lucida Handwriting;
}

.sidenav a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .hover a:hover {
    color: #c2c2c2;
    background-color: rgba(0, 0, 0, 0.301);
}

.sidenav .hover a:not(:disabled):not(.disabled):active,
.sidenav .hover a:not(:disabled):not(.disabled).active {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.form-book {
    margin-top: -30px;
    width: auto;
    padding: 2rem;
    position: sticky;
    margin-left: 8vw;
    margin-right: 8vw;
    height: auto;
    background-color: rgb(255, 255, 255);
}

.form-row label {
    color: #171126ea;
}

.form-row input {
    background-color: rgba(231, 231, 231, 0.308);
    border: 0;
}

.top {
    background-image: url("../img/para-003-4.jpg");
    background-size: cover;
    height: 730px;
    width: 1680px;
    color: white;
    filter: blur(4px) grayscale(0.6);
    background-attachment: fixed;
    margin-bottom: 200px;
}

.foot {
    margin-top: 50px;
    background-image: url("../img/para-006-3.jpg");
    background-size: cover;
    height: auto;
    width: 99.4vw;
    color: white;
    background-attachment: fixed;
}

.foot .footer {
    padding-top: 100px;
    width: auto;
    background-color: #171126fa;
    padding-bottom: 0.3px;
    border-top: 2.3px solid rgb(221, 144, 0);
}

.footer .row {
    color: rgb(153, 153, 153);
    font-family: 'Times New Roman', Times, serif;
    margin-top: -40px;
}

.footer #f-hr {
    background-color: rgba(255, 255, 255, 0.288);
    height: 0.5px;
    width: 87%;
}

#a1 {
    transition: top 0.4s;
    position: relative;
}

#a2 {
    transition: top 0.7s;
    position: relative;
}

#a3 {
    transition: left 0.8s;
    position: relative;
}

#ungu {
    margin-left: 1050px;
    border-radius: 10px;
    position: relative;
    left: -1050px;
    height: 45vh;
    width: 25vw;
    background-color: #171126;
    transition: left 0.9s;
}

#new {
    margin-top: -26em;
    margin-left: 800px;
    position: relative;
    left: -800px;
    height: 360px;
    width: auto;
    filter: saturate(1.5);
    transition: ease-in 0.7s;
}

#hr-new {
    background-color: rgb(146, 78, 0);
    width: 290px;
    margin-left: -10px;
    margin-top: -5px;
    height: 1px;
}

button {
    color: white;
    background-color: rgb(201, 107, 0);
    border: 2px solid rgba(228, 122, 0, 0);
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background-color: white;
    color: rgb(228, 121, 0);
    border: 2px solid rgb(228, 122, 0);
}

#a1,
#a2,
#a3s,
#b1,
#b2,
#b3,
#b4,
#b5 {
    transition: top 0.5s;
}